{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<div class="container pt-2">
    <div class="row box-shadow p-2">
        <div class="col-12 border-bottom">
            <h3>CSRF protection: {{reason}}</h3>
        </div>
        <div class="col-12 p-3">
            <form method="post">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            </form>
            <button type="submit" class="btn btn btn-danger">
                <a class="font-color" href="{{url_for('latestItems')}}">
                    Back
                </a>
            </button>
        </div>
    </div>
</div>
{% endblock %}