<nav class="navbar navbar-expand-lg navbar-light bg-info">
	<div class="container">
		<a href="/" class="navbar-brand text-light">Catalog</a>
		<span class="navbar-text small text-truncate mt-1 w-50 text-right order-1 order-md-last">
			{% if 'username' not in session %}
			<a class="text-light" href="{{url_for('showLogin')}}">
				<button type="button" class="btn btn-danger login-button">
					Login
				</button>
			</a>
			{% else %}
			<a class="text-light" href="{{url_for('disconnect')}}">
				<button type="button" class="btn btn-danger login-button">
					Logout
				</button>
			</a>
			{% endif %}
		</span>
	</div>
</nav>