	<div class="row">
		<nav class="header pt-4 navbar navbar-expand-lg navbar-light bg-dark">
			<div class="pl-4">
				<a class="navbar-brand mx-auto" href="{{url_for('latestItems')}}">
					<h2 class="text-light">Catalog App</h2>
				</a>
			</div>
			<div class="login text-right mr-2">
				{% if 'username' not in session %}
				<button type="button" class="btn btn-info login-button">
					<a class="text-light" href="{{url_for('showLogin')}}">Login </a>
				</button>
				{% else %}
				<a class="text-light" href="{{url_for('disconnect')}}">Logout </a>
				{% endif %}
			</div>
		</nav>
	</div>