{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<div class="container pt-2">
    <div class="row box-shadow p-2">
        <div class="col-md-12">
            <div class="col-md-12 font-color">
                <h1>{{item.name}}</h1>
                <p>
                    {{item.description}}
                </p>
            </div>
        </div>
        {% if login == true %}
        <div class="col-md-12 pl-4">
            <a class="btn btn-danger" href="{{ url_for('editItem', item_name = item.name) }}" role="button">Edit</a>
            <a class="btn btn-danger" href="{{ url_for('deleteItem', item_name = item.name) }}" role="button">Delete</a>
        </div>
        {% endif %}
    </div>
</div>

{% endblock %}