{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<div class="container pt-2">
    <div class="row box-shadow pt-2">
        <div class="col-md-12">
            <div class="col-md-12 text-dark">
                <h1>{{item.name}}</h1>
                <p>
                    {{item.description}}
                </p>
            </div>
        </div>
        {% if login == true %}
        <div class="row padding-top padding-bottom">
            <div class="col-md-1"></div>
            <div class="col-md-10 padding-none">
                <a href="{{ url_for('editItem', item_name = item.name) }}">Edit | </a>
                <a href="{{ url_for('deleteItem', item_name = item.name) }}">Delete</a>
            </div>
            <div class="col-md-1"></div>
        </div>
        {% endif %}
    </div>
</div>

{% endblock %}