<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
    <div class="container-fluid">
        <div class="border-bottom text-center pt-2">
            <a class="login-header" href="{{url_for('latestItems')}}">
                <h2>Catalog App</h2>
            </a>
        </div>
        <div class="container mt-5 pt-3 pb-3 text-center login-box">
            <h4 class="text-center">Sign in</h4>
            <div id="signinButton" class="pt-4">
                <span class="g-signin" data-scope="openid email" data-clientid="82463191693-9902rr8suet9th0f5ict4i9qmui6l1h0.apps.googleusercontent.com"
                    data-redirecturi="postmessage" data-accesstype="offline" data-cookiepolicy="single_host_origin"
                    data-callback="signInCallback" data-approvalprompt="force">
                </span>
            </div>
            or
            <div class="pt-2">
                <fb:login-button scope="public_profile,email" onlogin="sendTokenToServer();">
                    <a id="" href='javascript:sendTokenToServer()'>Login with Facebook</a>
                </fb:login-button>
            </div>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="https://apis.google.com/js/platform.js?onload=start"> </script>
    <script type="text/javascript" src="{{ url_for('static', filename = 'js/googleLogin.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename = 'js/facebookLogin.js') }}"></script>
</body>

</html>