<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="{{client_id}}">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-info justify-content-between">
        <div class="container-fluid pt-2">
            <div class="navbar-collapse collapse dual-nav w-50 order-1 order-md-0">
            </div>
            <a href="{{url_for('latestItems')}}" class="text-light navbar-brand mx-auto d-block text-center order-0 order-md-1 w-25">
                Catalog</a>
            <div class="navbar-collapse collapse dual-nav w-50 order-2">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link" href=""><i class="fa fa-twitter"></i></a></li>
                    <li class="nav-item"><a class="nav-link" href=""><i class="fa fa-github"></i></a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container mt-5 pt-3 pb-3 text-center box-shadow login-box">
        <h4 class="text-center">Sign in</h4>
        <form method='POST'>
            <input type="hidden" name="csrf_token" value="{{ state }}"/>
        </form>
        <div class="pl-5">
            <div class="g-signin2" data-onsuccess="signInCallback" 
                data-theme="dark"></div>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <!-- <script src="https://apis.google.com/js/platform.js?onload=start"> </script> -->
    <script>
        function signInCallback(googleUser) {
            var id_token = googleUser.getAuthResponse().id_token;
            console.error();
            if (id_token) {
                var csrf_token = "{{ csrf_token() }}";

                $.ajaxSetup({
                    beforeSend: function(xhr, settings) {
                        if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                            xhr.setRequestHeader("X-CSRFToken", csrf_token);
                        }
                    }
                });

                var clicked = true;
                // Send the one-time-use code to the server, if the server responds, write a 'login successful' message to the web page and then redirect back to the main restaurants page
                $.ajax({
                    type: 'POST',
                    url: '/gconnect?state={{STATE}}&id_token=' + id_token,
                    data : {'data':clicked},
                    contentType: 'application/json;charset=UTF-8',
                    success: function (result) {
                        // Handle or verify the server response if necessary.
                        if (result) {
                            setTimeout(function () {
                                window.location.href = "/catalog/";
                            }, 1000);
                        } else {
                            console.log('There was an error.');
                        }

                    }

                });
            }
        }
    </script>

    <script>
        function onSignIn(googleUser) {
          // Useful data for your client-side scripts:
          var profile = googleUser.getBasicProfile();
          console.log("ID: " + profile.getId()); // Don't send this directly to your server!
          console.log('Full Name: ' + profile.getName());
          console.log('Given Name: ' + profile.getGivenName());
          console.log('Family Name: ' + profile.getFamilyName());
          console.log("Image URL: " + profile.getImageUrl());
          console.log("Email: " + profile.getEmail());
  
          // The ID token you need to pass to your backend:
          var id_token = googleUser.getAuthResponse().id_token;
          console.log("ID Token: " + id_token);
        }
      </script>
</body>

</html>