<html>

<head>
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
</head>

<body>
    <h1> New Item </h1>

    <form id='new_item' action="{{url_for('addItem')}}" method='POST'>
        <div>
            <p>Name:</p>
            <input type='text' size='30' name='name'>

            <p>Description:</p>
            ​<textarea rows="4" cols="50" name="description" form="new_item"></textarea>
            <p>Category:</p>
            <select name="category">
                    {% for category in categories %}
                    <option value="{{category.name}}">{{category.name|title}}</option>
                    {% endfor %}
            </select>
        </div>
        <br>
        <input type='submit' value='Create'>
    </form>
    <a href="{{url_for('latestItems')}}">Cancel</a>

</body>

</html>