<html>

<head>
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
</head>

<body>
    <h1> New Menu Item </h1>

    <form id='new_item' action="{{url_for('newMenuItem', restaurant_id=restaurant_id )}}" method='POST'>

        <div>
            <p>Name:</p>
            <input type='text' size='30' name='name'>
    
            <p>Description:</p>
            <input type='text' name='description'>
            <p>Price:</p>
            <input type="tel" name="price" id="">

            <p>Course:</p>
            <input type="radio" name="course" value="Appetizer"> Appetizer<br>
            <input type="radio" name="course" value="Entree"> Entree<br>
            <input type="radio" name="course" value="Dessert"> Dessert <br>
            <input type="radio" name="course" value="Beverage"> Beverage <br>
        </div>
        <br>
        <input type='submit' value='Create'>
    </form>
    <a href="{{url_for('showMenu', restaurant_id=restaurant_id)}}">Cancel</a>

</body>

</html>